<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h2>Edit message</h2>

    <p>Author: <%= message.user %></p>
    <form action="/messages/<%= id %>/edit" method="POST">
      <label for="messageText">Message:</label>
      <input
        type="text"
        id="messageText"
        name="messageText"
        value="<%= message.text %>"
        required
      />
      <br />
      <button type="submit" class="btn btn-delete">Submit</button>
    </form>

    <a href="/">Back</a>
  </body>
</html>
