<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h2>Add a new message</h2>

    <form action="/new" method="POST">
      <label for="messageUser">Author (Max. 10 characters):</label>
      <input type="text" id="messageUser" name="messageUser" maxlength="10" required />
      <br />
      <label for="messageText">Message (Max. 50 characters):</label>
      <input type="text" id="messageText" name="messageText" maxlength="50" required />
      <br />
      <button type="submit" class="btn btn-delete">Submit</button>
    </form>

    <a href="/">Back</a>
  </body>
</html>
