<html>
  <body>
    <h2>Message info</h2>

    <h3><%= messages[id].user %></h3>
    <p><%= messages[id].text %></p>
    <p><%= messages[id].added %></p>

    <button onclick="window.location.href = '/'">Back</button>
  </body>
</html>
